.weather-container,
.forecast {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.weather-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5%;
    
    .weather-stats,
    .other-stats {
        width: 30%;
        flex-grow: 1;
        
        div {
            display: flex;
            justify-content: space-between;
        }
    }

    .weather-stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .description {
        margin: 0 30px;   
        text-align: center;

        p {
            text-transform: capitalize;
        }

        i {
            font-size: 7rem;
        }
    }

    .other-stats {
       p:first-child {
           text-align: left;
       }

       p:last-child {
           text-align: right;
       }
    }
}

.forecast-container {
    display: flex;
    justify-content: space-between;

    .forecast {
        width: calc(20% - (60px / 5));
        text-align: center;

        i {
            font-size: 4rem;
        }
    }
}

.stat {
        font-weight: 600;
}

footer {
    margin-top: 10px;
    text-align: center;

    span {
        color: rgb(234, 89, 62);
    }
}