.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;

    .forecast {
        text-align: center;
        img {
            background-color: rgba(47, 79, 79, 0.25);
        }
    }
}